---
layout: default
title: Aldridge Interiors - Services
---
<div class="row" id="project-tabs">
  <div class="col-md-4">
    <a href="spaces" class="active" data-tab-link>Spaces</a>
  </div>
  <div class="col-md-4">
    <a href="concepts" data-tab-link>Concepts</a>
  </div>
  <div class="col-md-4">
    <a href="styling" data-tab-link>Styling</a>
  </div>
</div>

<div class="row project-text">
  <div data-tab-target="spaces" data-tab-default>
      <div class="col-md-3"><a href="/images/spaces/1.jpg" data-text="In collaboration with <a href='http://www.lucileglessnerdesign.com'>Lucile Glessner Design</a>"><img src="/images/spaces/1_small.jpg"></a></div>
      <div class="col-md-3"><a href="/images/spaces/2.jpg" data-text="In collaboration with <a href='http://www.lucileglessnerdesign.com'>Lucile Glessner Design</a>"><img src="/images/spaces/2_small.jpg"></a></div>
    {% for i in (3..8) %}
      <div class="col-md-3"><a href="/images/spaces/{{ i }}.jpg"><img src="/images/spaces/{{ i }}_small.jpg"></a></div>
    {% endfor %}
  </div>

  <div data-tab-target="concepts">
    {% for i in (1..8) %}
      <div class="col-md-3"><a href="/images/drawings/{{ i }}.jpg"><img src="/images/drawings/{{ i }}_small.jpg"></a></div>
    {% endfor %}
  </div>

  <div data-tab-target="styling">
    {% for i in (1..9) %}
      <div class="col-md-3"><a href="/images/styling/{{ i }}.jpg"><img src="/images/styling/{{ i }}_small.jpg"></a></div>
    {% endfor %}
  </div>

</div>
<div class="image-modal"></div>
