html, body {
  font-family: "Josefin Sans", sans-serif; }

body {
  margin-top: 100px;
  margin-bottom: 100px;
  color: #676565; }

div.top-left, div.top-right {
  border-top: 1px solid #cecece; }

div.top-logo img {
  width: 100px;
  margin-top: -50px; }

div.top-logo {
  text-align: center; }

div.container {
  border-right: 1px solid #cecece;
  border-left: 1px solid #cecece; }

div.bottom-left, div.bottom-right {
  height: 19px;
  border-bottom: 1px solid #cecece;
  margin-bottom: 0px; }

div.bottom-nav {
  height: 20px;
  line-height: 20px;
  margin-bottom: -10px;
}

img#aldridge-logo {
  width: 420px; }

div#aldridge-logo {
  text-align: center; }

div#homepage-text {
  margin: 110px 12px;
  text-align: center;
  font-size: 18px; }

ul#nav {
  list-style-type: none;
  font-size: 20px;
  text-align: center;
  margin: 0;
  padding: 0;
}
  ul#nav li {
    display: inline-block;
    margin: 0px 8px; }
  ul#nav a, ul#nav a:hover {
    color: #676565;
    text-decoration: none; }
  ul#nav a.active {
    text-decoration: underline; }

div#about-tabs, div#service-tabs, div#project-tabs {
  text-align: center;
  margin: 16px;
  margin-bottom: 38px; }
  div#about-tabs a, div#about-tabs a:hover, div#service-tabs a, div#service-tabs a:hover, div#project-tabs a, div#project-tabs a:hover {
    color: #676565;
    text-decoration: none;
    font-size: 18px; }
  div#about-tabs a.active, div#service-tabs a.active, div#project-tabs a.active {
    text-decoration: underline; }

img#contact {
  width: 60%;
  margin-bottom: 16px; }

div#contact {
  text-align: center;
  margin-top: 28px;
  margin-bottom: 42px; }

div.service-text, div.about-text {
  text-align: center;
  margin-bottom: 32px;
  font-size: 16px; }

div.about-text img {
  margin-top: 24px;
  width: 200px; }

div.service-text ul {
  list-style-type: none;
  margin: 24px; }

div.project-text {
  margin: 42px 18px;
}

div.project-text .col-md-3 {
  overflow: hidden;
  height: 200px;
  margin-bottom: 24px;
}

div.project-text img {
  min-height: 200px;
  min-width 100%;
}

div.image-modal {
  display: none;
  overflow-y: scroll;
  background-color: rgba(255,255,255, 0.7);
  position: fixed;
  overflow-x: auto;
  overflow-y: scroll;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
  text-align: center;
}

div.image-modal img {
  max-width: 80%;
  height: auto;
  margin: 40px 0;
}

div.image-modal p {
  margin-bottom: 40px;
}

div.no-scroll {
  overflow: hidden;
}

a.modal-close {
  position: fixed;
  right: 14px;
  top: 0px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: white;
  font-size: 48px;
  color: #cdde9b;
}

p.websites a {
  color: #cdde9b;
  font-size: 32px;
  margin: 4px;
}

div.nav-table {
  display: table;
  margin: 0 auto;
}
