<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    {% javascript jquery-2.1.1.min %}
    {% javascript app %}
    {% stylesheet app %}
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-5 top-left">
        </div>
        <div class="col-md-2 top-logo">
          <img src="/images/chair.png">
        </div>
        <div class="col-md-5 top-right">
        </div>
      </div>
      {{ content }}
      <div class="row">
        <div class="col-md-3 bottom-left">
        </div>
        <div class="col-md-6 bottom-nav">
          <ul id="nav">
            <li><a href="/about.html">about</a>
            <li><a href="/services.html">services</a>
            <li><a href="/projects.html">projects</a>
            <li><a href="/contact.html">contact</a>
            <li><a href="/blog.html">blog</a>
          </ul>
        </div>
        <div class="col-md-3 bottom-right">
        </div>
      </div>
    </div>
  </body>
</html>
