<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <script language="javascript" type="text/javascript" src="/vendor/js/jquery-2.1.1.min.js"></script>
    <script language="javascript" type="text/javascript" src="/assets/js/app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-5 top-left">
        </div>
        <div class="col-md-2 top-logo">
          <a href="/"><img src="/images/chair.png"></a>
        </div>
        <div class="col-md-5 top-right">
        </div>
      </div>
      {{ content }}
      <div class="row">
        <div class="col-md-3 bottom-left">
        </div>
        <div class="col-md-6 bottom-nav">
          <div class="nav-table">
            <ul id="nav">
              <li><a id="about" href="/about.html">about</a>
              <li><a id="services" href="/services.html">services</a>
              <li><a id="projects" href="/projects.html">projects</a>
              <li><a id="contact" href="/contact.html">contact</a>
              <li><a id="blog" href="http://blog.aldridgeinteriors.com">blog</a>
            </ul>
          </div>
        </div>
        <div class="col-md-3 bottom-right">
        </div>
      </div>
    </div>
  </body>
</html>
